html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  font-size: 14px;
  line-height: 1.5;
}
body {
  background: #f2f4f5;
  color: #333;
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
code,
pre {
  background: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 3px;
}
code {
  white-space: nowrap;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
.layout {
  background: #fff;
  box-shadow: 0 0 5px 1px #333;
  left: 0;
  margin: auto;
  padding: 0 15px 15px;
  position: absolute;
  right: 0;
  width: 900px;
}
:link {
  color: #225fd7;
}
:link:focus {
  outline: 2px solid #225fd7;
  text-decoration: underline;
}
.skip-nav {
  float: left;
  font-weight: 700;
  padding: 10px;
}
.skip-nav:focus {
  visibility: visible;
}
.skip-nav a {
  color: #454545;
  left: -500px;
  overflow: hidden;
  position: absolute;
}
.skip-nav a:active,
.skip-nav a:focus {
  left: 0;
  overflow: visible;
  position: static;
}

/* syntax highlight */
.highlight {
  margin-bottom: 16px;
}
.highlight pre {
  background: #f7f7f7;
  border-radius: 3px;
  line-height: 1.45;
  margin-bottom: 0;
  overflow: auto;
  padding: 16px;
  word-break: normal;
}
.pl-c {
  color: #969896;
}
.pl-c1,
.pl-s .pl-v {
  color: #0086b3;
}
.pl-e,
.pl-en {
  color: #795da3;
}
.pl-ent,
.pl-sr .pl-cce {
  color: #63a35c;
}
.pl-k {
  color: #a71d5d;
}
.pl-pds,
.pl-pse .pl-s1,
.pl-s,
.pl-s .pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
  color: #183691;
}
.pl-s .pl-s1,
.pl-smi {
  color: #333;
}
.pl-sr .pl-cce {
  font-weight: bold;
}
.pl-v {
  color: #ed6a43;
}