html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  font-size: 14px;
  line-height: 1.5;
}
body {
  background: #f2f4f5;
  color: #333;
  cursor: default;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
code {
  background: #f4f4f4;
  border-radius: 3px;
  padding: 3px;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
.layout {
  background: #fff;
  bottom: 0;
  box-shadow: 0 0 5px 1px #333;
  left: 0;
  margin: auto;
  padding: 0 10px 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
}
:link {
  color: #225fd7;
}
:link:focus {
  outline: 2px solid #225fd7;
  text-decoration: underline;
}
:link:active,
:link:hover {
  outline: 0;
}